[2021-02-07 05:34] rockingrohit9639 opened #1 "Count the words and letters in text"
Count the number of words or letters or both in the text that the user provides and show it on the result page below the text result.

[2021-02-07 05:46] rockingrohit9639 opened #2 "Add find feature"
Add a feature that enables a user to find a word in the text.

[2021-02-07 05:53] rockingrohit9639 opened #3 "Add AboutUs page"
Add an AboutUs page so that anyone as a beginner can come and write his/her name on that page as a contributor and create his/her pull request and learn about it.

[2021-02-11 11:02] rockingrohit9639 opened #4 "Create a landing page"
Create a landing page that will elaborate on the project.

[2021-02-11 11:08] rockingrohit9639 opened #5 "Add your name in CONTRIBUTORS.md file."
Add your name in the CONTRIBUTORS.md  file and mention this issue in your Pull Request.

[2021-02-11 11:59] rockingrohit9639 opened #6 "Add a navigation bar"
Add a navigation bar to the project. Link all the pages that are currently in the project.
* Use Bootstrap.

[2021-02-11 14:54] vishwast03 commented on #5
Hey @rockingrohit9639
I would like to do that. Please assign it to me.

[2021-02-11 14:58] rockingrohit9639 commented on #5
Sure.
Have you joined our Discord channel? If not then please join every query and doubt will be cleared there. You can find link on README.md.
Thanks

[2021-02-11 15:04] vishwast03 commented on #5
Thanks @rockingrohit9639
I will check out your Discord channel.

[2021-02-12 05:44] rockingrohit9639 opened #8 "Improve UI"
Improve the User Interface of the website.
Redesign input fields, buttons, etc.

[2021-02-12 14:57] Sloth-Panda commented on #5
Can I work on this for cwoc?

[2021-02-12 14:58] Sloth-Panda commented on #3
Can I make this?

[2021-02-12 14:58] Amit366 commented on #1
Can I work on this issue??

[2021-02-12 14:59] Sloth-Panda commented on #6
Can I work on this as part of cwoc?

[2021-02-12 15:01] rockingrohit9639 commented on #1
Yeah sure.

[2021-02-12 15:03] rockingrohit9639 commented on #3
Yes. Why not.

[2021-02-12 15:05] rockingrohit9639 commented on #6
Yes, you can. But make sure if you gave another issue assigned, finish that first.

[2021-02-12 15:10] Sloth-Panda commented on #6
@rockingrohit9639  right now I have not been assigned any

[2021-02-12 15:13] rockingrohit9639 commented on #6
Ok, so I am assigning you this task.

[2021-02-12 15:14] #6 closed

[2021-02-12 15:16] rockingrohit9639 opened #9 "Add navigation bar"
Add the navigation bar. Link all the existing pages using Navlinks.

[2021-02-12 15:19] rockingrohit9639 commented on #3
Bro, I am assigning you this task. You have 4 days to complete it.

[2021-02-12 15:22] Sloth-Panda commented on #3
can you give me a little bit of context on how it should look? Or I will do  it on my own way and will show it to you?

[2021-02-12 15:24] rockingrohit9639 commented on #3
You can do it of your own, make it fancy filled with color, or just a simple about us page it is totally up to you.
You are given 4 days to do this work, is it ok for you?

[2021-02-12 15:26] rockingrohit9639 commented on #1
I have assigned you this task. You can do it in 4 days. Is it ok for you?

[2021-02-12 15:30] Amit366 commented on #1
Yes sir

[2021-02-12 15:33] rockingrohit9639 commented on #1
Bro is fine ❤️

[2021-02-12 16:58] ShudhanshuSingh commented on #9
I want to work on this as part of cwoc

[2021-02-12 17:00] ShudhanshuSingh commented on #8
Can I work on this as part of cwoc?

[2021-02-12 17:08] rockingrohit9639 commented on #8
Yes, you can. I will assign it to you. You can take your time in doing it but try to complete it in 4-5 days.

[2021-02-12 17:21] rockingrohit9639 commented on #9
Sure, Make sure to go through README.md file and read How to contribute.

[2021-02-12 17:25] rockingrohit9639 opened #10 "Add feature to search email."
Add a feature to find or search emails in a given long text.
* Hint - You can use Regular Expressions

[2021-02-12 17:29] Sloth-Panda opened #11 "Would like to add code of conduct and contributing file"
@rockingrohit9639 as these are important  and should be sperate files for better clarity would like to  make those as part of cwoc

[2021-02-12 17:32] rockingrohit9639 commented on #11
Good idea. It should be there in repo.
Will you do it too, should I give chance to anyone else?

[2021-02-12 17:38] Sloth-Panda commented on #11
I would love to contribute to it, I have been already assigned one but I will be sending both the prs tomorrow only so you can assign me

[2021-02-12 17:48] rockingrohit9639 commented on #11
Ok bro, I have assigned you.

[2021-02-13 00:50] muthuannamalai12 opened #12 "Integrate Welcome Bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

[2021-02-13 00:51] muthuannamalai12 commented on #12
I would like to work on it as a part of Cross Woc

[2021-02-13 02:41] rockingrohit9639 commented on #12
I am assigning you this one. Make sure you read README.md file and How to Contribute.
I will be giving you 4-5 days to do this. Is it ok foor you?

[2021-02-13 02:43] muthuannamalai12 commented on #12
It is ok for me bro

[2021-02-13 03:18] rockingrohit9639 opened #13 "Add screenshots"
Add screenshots in README.md file.
Screenshots are already there in the repo, you just have to include them in the README file by keeping the heading Screenshots.
Name of files :-
- ss1.png
- ss2.png

[2021-02-13 03:24] rockingrohit9639 opened #14 "Create separate file for How to Contribute"
Create a separate file for How to contribute. Code for how to contribute is already written in README file, cut it from there and paste it in How to contribute file.

[2021-02-13 04:49] muthuannamalai12 commented on #14
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-13 07:19] muthuannamalai12 commented on #13
I would love to work on this issue as a part of Cross Woc. Kindly Assign me

[2021-02-13 07:24] rockingrohit9639 commented on #13
Bro, I have already assigned you two issues already. I think we should give chance to anyone else. If no one asks for assigning this, I will assign it to you? Is it ok for you?

[2021-02-13 07:29] muthuannamalai12 commented on #13
Ok Bro

[2021-02-13 12:15] tharunc commented on #13
I would like to work on this Issue as a part of **CWOC**.
Kindly assign me this issue.

                    THANK YOU

[2021-02-13 12:49] rockingrohit9639 commented on #13
Yeah, sure. Are 2-3 days fine for completing it?

[2021-02-13 12:52] Sloth-Panda commented on #14
issue and pr has already been made

issue -> #11 , pr-> #15

your issue means contributing file here. THANK YOU!

[2021-02-13 12:55] Sloth-Panda opened #16 "creation of issue and pr templates"
There are no issue and pr template that will describes what sort of issue is being raised (issue template) and the description of pr with its checklist(pr template). Let me know if this needs to be done as part of cwoc. Thank you!

[2021-02-13 13:22] Sloth-Panda commented on #10
would like to work on this

[2021-02-13 13:35] rockingrohit9639 commented on #10
Bro, I would suggest you to complete issue > #2 . These both are related to each other. So, if you complete it first. Your half work will be done.

[2021-02-13 13:38] rockingrohit9639 commented on #11
Thank you @Sloth-Panda . I am closing this issue.

[2021-02-13 13:38] #11 closed

[2021-02-13 13:48] rockingrohit9639 commented on #16
I am assigning you for this task.

[2021-02-13 13:50] rockingrohit9639 commented on #14
Hii @muthuannamalai12 Just a quick message. Half of the work is already done by @Sloth-Panda
So now you just have to remove the How to Contribute part from the README.md file.
Sorry for the inconvenience.

[2021-02-13 13:53] muthuannamalai12 commented on #14
Ok @rockingrohit9639. No Worries

[2021-02-13 14:00] rockingrohit9639 commented on #14
Issue solved by @muthuannamalai12
PR #17

[2021-02-13 14:01] rockingrohit9639 commented on #14
Issue solved by @muthuannamalai12
PR #17

[2021-02-13 14:01] #14 closed

[2021-02-13 14:15] rockingrohit9639 commented on #12
Thank you @muthuannamalai12
PR > #18

[2021-02-13 14:15] #12 closed

[2021-02-13 14:50] darklalit14 opened #19 "converting from . to new line"
The dot(.) will be coverted into the new line,so that it will look good and easy to understand.
It is useful for making the points in the text.
* note- I am a beginner please help me in understanding he code.

[2021-02-13 15:02] rockingrohit9639 commented on #19
It sounds good bro and don't worry just drop me a message on Discord, I will help you in understanding the code.
I am assigning you this task. As you are a beginner I will be giving you 3-4 days to solve this issue.

[2021-02-13 16:09] rockingrohit9639 commented on #16
Thank you @Sloth-Panda
PR - #20

[2021-02-13 16:09] rockingrohit9639 commented on #16
Thank you @Sloth-Panda
PR - #20

[2021-02-13 16:09] #16 closed

[2021-02-13 17:02] Sloth-Panda commented on #4
As I am working on this I think I can do this too let me know

[2021-02-13 17:53] rockingrohit9639 commented on #4
@Sloth-Panda Bro, If you now see in the code someone has already added home.html.
So now, you just have to link the pages. Like aboutus page and that index page and update urls.py and views.py
Will you be able to do it?

[2021-02-13 18:55] Sloth-Panda commented on #4
sure bro

[2021-02-14 05:00] tharunc commented on #13
Yes

[2021-02-14 12:12] rockingrohit9639 commented on #10
@Sloth-Panda you can work on it.

[2021-02-14 12:56] ayushrastogi689 commented on #2
I want to work on this issue. Please assign me this issue.

[2021-02-14 12:58] rockingrohit9639 commented on #2
Ok @ayushrastogi689 I am assigning you this issue. Make sure you complete it in 3-4 days.

[2021-02-14 13:12] ayushrastogi689 commented on #2
Sure.

[2021-02-14 14:17] rockingrohit9639 commented on #13
Thank you @tharunc
PR > #23

[2021-02-14 14:17] #13 closed

[2021-02-14 18:17] rockingrohit9639 commented on #2
Thank you @ayushrastogi689

[2021-02-14 18:17] #2 closed

[2021-02-15 18:49] rockingrohit9639 opened #25 "Clean the code"
## 💥 Proposal
Clean the code by removing the unnecessary comment in all the files.
Make sure you don't remove any line which is in use.

[2021-02-16 03:10] Akash20x commented on #25
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-16 03:31] rockingrohit9639 commented on #25
Yes, you can work on it. Make sure you don't remove or change any line which is in use.
Also, try to understand which code section is doing what. The main aim of this issue is that you go through all the files and understand the code and workflow of Django.
## You are given 2 days to do it.

[2021-02-16 03:35] Akash20x commented on #25
OK, I will do it

[2021-02-16 03:41] rockingrohit9639 commented on #25
ok

[2021-02-16 08:42] #1 closed

[2021-02-17 05:18] rockingrohit9639 commented on #3
@Sloth-Panda Bro, today is your last day to complete this work.

[2021-02-17 05:18] rockingrohit9639 commented on #8
@ShudhanshuSingh Remainder.

[2021-02-17 05:25] ShudhanshuSingh commented on #8
Ya, I will send it by evening

[2021-02-17 05:31] rockingrohit9639 commented on #8
@ShudhanshuSingh Ok bro, No problem.

[2021-02-17 06:58] Akash20x commented on #25
Update :
I started working on it and send pull request itself by today.

[2021-02-17 07:14] rockingrohit9639 commented on #25
Ok @Akash20x

[2021-02-17 08:38] #8 closed

[2021-02-17 08:38] #9 closed

[2021-02-17 09:22] #3 closed

[2021-02-17 09:22] #4 closed

[2021-02-17 09:24] rockingrohit9639 opened #30 "Update screenshots"
## 💥 Proposal

Update README.md file with latest screenshots of project

[2021-02-17 10:09] rockingrohit9639 opened #31 "Addding contributors on AboutUs page"
## 💥 Proposal

Add contributors on the About Us page using GitHub API.
- Use their avatars too
-  Do anything to look it better.

[2021-02-19 03:47] #25 closed

[2021-02-19 06:22] Akash20x commented on #31
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-19 06:22] Akash20x commented on #31
Can you tell me what you mean by avators

[2021-02-19 06:24] Akash20x commented on #30
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-19 12:44] rockingrohit9639 commented on #31
Avatar means the GitHub profile photos of contributors.
You have to fetch the contributors using GitHub API.

[2021-02-19 12:45] rockingrohit9639 commented on #30
Yeah sure, I am assigning you this task.
### You are given 3 days to do it.

[2021-02-19 13:55] Sloth-Panda commented on #31
Can I work on this @rockingrohit9639 ?

[2021-02-19 18:27] Akash20x commented on #30
Please review the pull request

[2021-02-20 02:37] rockingrohit9639 commented on #31
Yeah sure, You can start working on it.
### You are given 5 days to complete this task.

[2021-02-20 02:40] #30 closed

[2021-02-20 02:50] rockingrohit9639 opened #34 "Generate password using given text."
## 💥 Proposal

Generate a password using the given text.
You can include the special keyword in between or the start or at the end.
You can capitalize some alphabets in text.
No whitespaces should be there.
You can add numbers in the text.

[2021-02-20 04:19] Akash20x commented on #34
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-20 04:32] rockingrohit9639 commented on #34
Yes @Akash20x , you can work on it.
I am assigning you this task.
If you have any problem while doing it, you can reach me on Discord.

### You are given 5 days to complete this task.

[2021-02-20 04:34] Akash20x commented on #34
Ok

[2021-02-20 04:36] arbazalam01 commented on #19
Can i work on this issue

[2021-02-20 04:37] arbazalam01 commented on #10
Can you assign this issue to me

[2021-02-20 04:40] rockingrohit9639 commented on #19
Yes @arbazalam01 , you can work on it.
Make sure you read our CODE_OF_CONDUCT.
If you have any doubt you can reach me on our Discord Server.

### You are given 4 days to complete it.

[2021-02-20 04:42] rockingrohit9639 commented on #10
Yes @arbazalam01, you can work on it.
I am assigning you this issue.

### You are given 6 days to complete it as you are also on another issue.

[2021-02-22 03:19] Amit366 commented on #31
@rockingrohit9639 can I work on this issue??

[2021-02-22 03:46] rockingrohit9639 commented on #31
@Amit366 bro, Achyut is already assigned to this issue. If he is not able to do it then you can work on it.

[2021-02-22 04:37] rockingrohit9639 opened #35 "Host this web app on any free hosting site."
## 💥 Proposal

Host our project on any free hosting site.
- Before hosting on the server, make sure our project is working fine. If there is any bug then please let me know.
- You can use Heroku, Netlify, pythonanywhere, or other sites too.
- If you find any issue while doing it, let me know, I will help you.

[2021-02-22 06:29] arbazalam01 commented on #35
Can i work on this issue

[2021-02-22 06:37] rockingrohit9639 commented on #35
Yes, you can work on it.
Make sure the project is working fine, before hosting and let me know if there is any issue in the project.
I am assigning you this task.

### You are given 5 days to complete this task.

[2021-02-22 07:28] #19 closed

[2021-02-22 19:10] Mansi3546 opened #38 "Updating Homepage and AboutUs page"
Hey..!! @rockingrohit9639 ,.. I want to make home page and about page more attractive ,..using html+css and if you will permit,.. then I would like to add contributor's github id with their name ,.. with some unique way ,.. like on any picture or something like that. so can you please assign this issue to me??..for contribution in CrossWoc.

[2021-02-23 06:56] rockingrohit9639 commented on #38
Yeah @Mansi3546  sure, you can work on it.
If you have any problem while doing it, please let me know.
### You are given 5 days to complete it.

[2021-02-23 08:48] #10 closed

[2021-02-23 15:29] rockingrohit9639 opened #39 "Make the website completely responsive"
## 💥 Proposal

Make the website completely responsive.
You can use media query or bootstrap classes

[2021-02-23 16:01] rockingrohit9639 opened #40 "Search images"
## 💥 Proposal

Search images using the text given in textarea.

- You can use Unsplash API to search images.
- Create a different page to show all the result images.

[2021-02-23 16:09] Akash20x commented on #40
Can you please assign me this issue as a crosswoc

[2021-02-23 16:09] darklalit14 opened #42 "Copy to clipboard"
Add a button to copy the result to clipboard.

[2021-02-23 16:13] Akash20x commented on #34
Please check my pull request

[2021-02-23 16:20] darklalit14 opened #43 "Word meaning"
Search the meaning of the word written in the text area.

[2021-02-23 16:22] rockingrohit9639 commented on #34
Can you check my comment on your PR?

[2021-02-23 16:36] #34 closed

[2021-02-23 16:42] #35 closed

[2021-02-23 16:42] arbazalam01 opened #45 "Site is not Responsive"
**Describe the bug**
----
- A clear and concise description of what the bug is.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to happen.

**Possible solution**
----
- Describe the solution you thought of.

**Screenshots**
![

[2021-02-23 16:45] rockingrohit9639 commented on #40
Yes @Akash20x , You can work on it.
I am assigning you this issue.
### You are given 6 days to complete it.

[2021-02-23 16:49] Akash20x commented on #43
Please assign this to me as I already solved this type of issue 2 days before, so that I can send a pull request

[2021-02-23 16:51] rockingrohit9639 commented on #43
Yes @Akash20x you can work on it.

[2021-02-23 16:51] arbazalam01 commented on #39
Can i work on this issue

[2021-02-23 16:52] arbazalam01 commented on #42
can you please assign this to me

[2021-02-23 16:52] Akash20x commented on #43
Please assign me

[2021-02-23 16:53] rockingrohit9639 commented on #39
Yeah sure @arbazalam01, You can work on this issue.

### You are given 6 days to complete this.

[2021-02-23 16:58] rockingrohit9639 commented on #42
Yeah @arbazalam01 bro, but first complete another issue. If no one asks for it then I will assign it to you. So that everyone should given a chance.
I hope you understand. Thank you

[2021-02-23 16:59] rockingrohit9639 commented on #31
@Sloth-Panda Remainder !!!

[2021-02-23 17:29] Akash20x commented on #43
Please check my pull request

[2021-02-23 17:30] Akash20x commented on #40
Ok

[2021-02-23 17:34] rockingrohit9639 commented on #43
Bro I will review and merge your PR tomorrow. Is it ok for you?

[2021-02-23 17:39] Akash20x commented on #43
Okay, No Problem

[2021-02-24 03:36] #43 closed

[2021-02-24 03:41] rockingrohit9639 opened #47 "Suggesting names"
## 💥 Proposal

Add an option to suggest names on the basis of the word provided in textarea.
E.g. -
word given - code
output - codder, codegen, thecoder etc.

- You can use API to fetch the suggested names.

[2021-02-24 03:46] rockingrohit9639 opened #48 "Highlight the found word"
## 💥 Proposal

There is a feature in our project to find a particular word in the text, but it only shows found or not found.
Add functionality so that if the word is found then it is highlighted on the output/result page.

[2021-02-24 05:20] rockingrohit9639 opened #49 "Add a back button"
## 💥 Proposal

Add a Back button on the result page to navigate the user to the previous or analyze age.

[2021-02-24 05:34] Akash20x commented on #47
Can you please assign me this issue as a crosswoc

[2021-02-24 05:41] rockingrohit9639 commented on #47
Yeah @Akash20x bro, but first complete your another issue. If no one asks for it then I will assign it to you. So that everyone should be given a chance.
I hope you understand. Thank you

[2021-02-24 05:42] Akash20x commented on #47
OK

[2021-02-25 03:57] rockingrohit9639 commented on #31
Sorry @Sloth-Panda Bro, I have to remove you now. Your deadline is over.

[2021-02-25 03:58] rockingrohit9639 commented on #31
@Amit366 bro, would you like to work on this issue now?

[2021-02-25 04:16] Amit366 commented on #31
Yes

[2021-02-25 04:18] rockingrohit9639 commented on #31
Ok @Amit366 bro, you can start working on it now.

### You are given 5 days to complete it.

[2021-02-25 15:12] Akash20x commented on #40
Hey I solved it but on sending pull request,
1 check failed for gallery.html,
This file is created to view images in new page.
Is there any way to resolve this check

Or check my file, did I miss something?

[2021-02-25 15:31] rockingrohit9639 commented on #40
I am reviewing the code.

[2021-02-25 15:38] Akash20x commented on #40
Please wait, Again sending the pull request then check

[2021-02-25 15:39] rockingrohit9639 commented on #40
Ok bro, no problem.

[2021-02-25 15:45] rockingrohit9639 commented on #38
@Mansi3546 , are you working on this issue?

[2021-02-25 15:58] #40 closed

[2021-02-25 16:00] Akash20x commented on #47
Hey, now assign me this issue

[2021-02-25 16:05] rockingrohit9639 commented on #47
Yeah sure, @Akash20x  bro. Now you can work on it.

### You are given 6 days to complete it.

[2021-02-25 16:11] rockingrohit9639 opened #52 "Create separate pages for analyze and generate"
## 💥 Proposal

You have to create separate pages to analyze type of work and generate type of work.
Like - To Uppercase, Remove Punctuation, To Lower, etc should be on one page while generating a password, find meaning, find images, etc should be on another page. But the functionality should be the same.

I know this can be a difficult task, but don't worry I will always be there to help you. You

[2021-02-25 16:11] Akash20x commented on #47
OK

[2021-02-26 06:00] rockingrohit9639 opened #54 "Change gallery.html page styling"
## 💥 Proposal

Show the images something like this -

![image](https://user-images.githubusercontent.com/40729749/109261346-aad2d900-7825-11eb-9c34-1de8ba7eb358.png)

Also, increase the images fetched.

[2021-02-26 21:12] Akash20x commented on #47
Please check my pull request

[2021-02-26 21:14] Akash20x commented on #48
Please assign me this issue as a part of Crosswoc

[2021-02-27 03:57] #47 closed

[2021-02-27 04:01] rockingrohit9639 commented on #48
Ok @Akash20x bro, I am assigning you this issue.

### You are given 6 days to complete it.

[2021-02-27 12:00] #39 closed

[2021-02-27 12:04] rockingrohit9639 commented on #42
@arbazalam01 bro, now you can work on it if you want.

[2021-02-27 19:07] Akash20x commented on #48
Hey how can I highlight it in output page
Because it seem something like 1 print statement or any specific thing you want as you mention it as hard.

[2021-02-27 19:24] Akash20x commented on #49
Hey, I already solved this issue if you can assign me, I will send pull request

[2021-02-27 21:18] Akash20x commented on #49
I solve it , please assign me so that I can send a pull request.

[2021-02-27 21:24] Akash20x commented on #52
Please assign me this issue as a part of crosswoc

[2021-02-28 03:48] rockingrohit9639 commented on #48
@Akash20x bro, can you just make one change.

You just have to change colour of the found word in the text and keep another text black.

[2021-02-28 03:50] rockingrohit9639 commented on #52
Ok @Akash20x bro, I am assigning you this issue.
Make sure the functionality remains the same.
Let me know if you have any problems while doing it.

### You are given 8 days to complete it.

[2021-02-28 03:52] rockingrohit9639 commented on #49
Ok @Akash20x  bro, I am assigning you this issue.

### You have 3 days to complete it.

[2021-02-28 04:04] rockingrohit9639 opened #58 "Suggest some new and awesome ideas"
## 💥 Proposal

* Suggest some new, awesome and unique ideas that we can implement in our project.
* You can also suggest some advanced ideas too, we can implement them together.
* You can also find bugs in our project and report them to me.

### Note
- If your idea is considered to be implemented in the project then only you will be given points.

[2021-02-28 07:27] Akash20x commented on #48
I tried this but it's not possible
I tried things mention in Internet but nothing worked

[2021-02-28 07:28] Akash20x commented on #48
If you know anyway to do this, please tell me approach, I will do it

[2021-02-28 08:19] Akash20x commented on #48
`
![IMG_20210228_134517_HHT](https://user-images.githubusercontent.com/46225357/109412020-c7107a80-79cb-11eb-91d6-00fc06b5743d.jpg)
`

[2021-02-28 08:20] Akash20x commented on #48
![IMG_20210228_134517_HHT](https://user-images.githubusercontent.com/46225357/109412052-ddb6d180-79cb-11eb-9ea6-ee31205180b2.jpg)

[2021-02-28 08:34] rockingrohit9639 commented on #48
@Akash20x  bro, can you send me a message on discord?

[2021-02-28 09:12] Akash20x commented on #48
OK

[2021-02-28 14:24] #49 closed

[2021-02-28 15:02] rockingrohit9639 opened #61 "Add a pre-loader"
## 💥 Proposal

Add an awesome pre-loader to the website.

[2021-02-28 17:05] Akash20x commented on #58
We can implement an option to correct grammatical errors of the sentence input by user.

[2021-02-28 19:25] Akash20x commented on #48
Please check my pull request

[2021-03-01 02:58] rockingrohit9639 commented on #48
I have checked your PR. Good job @Akash20x .
Thank you.

[2021-03-01 02:59] #48 closed

[2021-03-01 03:06] rockingrohit9639 commented on #58
Sounds good.
We will implement them.
Thank you @Akash20x

[2021-03-01 03:09] rockingrohit9639 opened #63 "Check grammatical mistakes in text provided by user."
## 💥 Proposal

Check for all the grammatical mistakes in the text given by the user.
You can use APIs or a Python module to do this task.
If you are not able to find any module or API then reach out to me.
If you have any problem let me know.

[2021-03-01 03:15] rockingrohit9639 opened #64 "Add a motivational quote"
## 💥 Proposal

Add a random motivational quote on our landing page. And make it beautiful and attractive.
The quote can be related to anything.
You can also give a button to change the quote. (Optional)

[2021-03-01 03:17] rockingrohit9639 opened #65 "Add option for sentiment analysis."
## 💥 Proposal

Add an option to analyze sentiment in the text provided by the user.

[2021-03-01 03:19] rockingrohit9639 opened #66 "Find links in the text"
## 💥 Proposal

Search for all the links in the text given by the user and display them in anchor tag on the result page.

[2021-03-01 04:01] Mansi3546 commented on #64
can you please assign this issue to me??
The issue that was assigned to me earlier ... I will make PR of that issue by evening ..

[2021-03-01 04:03] rockingrohit9639 commented on #64
Ok @Mansi3546 , you can work on it.
If you have any problem then let me know.

### You are given 5 days to complete it.

[2021-03-01 04:21] Blastoise commented on #66
Assign this issue to me.

[2021-03-01 04:25] rockingrohit9639 commented on #66
Yeah, sure @Blastoise bro, you can work on it.
Are you a part of Cross Winter Of Code?

[2021-03-01 04:27] Blastoise commented on #66
@rockingrohit9639 Yes

[2021-03-01 04:33] rockingrohit9639 commented on #66
Ok @Blastoise

### You are given 4 days to complete it.

[2021-03-01 17:44] Mansi3546 commented on #38
hey @rockingrohit9639 ..as I am working on updating about page and I added contributors with their avtar in the page and some other changes... but when I gone over through the issue#31..it is showing same thing and that issue is not fixed yet.. so should I remove the code that I have written related to -- "add contributors" before making PR ? or you will assign issue#31 to me. .because according t

[2021-03-01 20:51] Akash20x commented on #52
Please check my pull request

[2021-03-01 20:52] Akash20x commented on #63
Please assign me this issue as a part of Crosswoc

[2021-03-01 21:20] Akash20x commented on #38
Just a suggestion..
@rockingrohit9639
What I think issue number 31 should be closed as their assignees not be able to solve that issue
And
@Mansi3546 should complete this issue and updating homepage and add contributors work in this issue itself.

[2021-03-02 00:51] rockingrohit9639 commented on #38
@Mansi3546 someone is already assigned to that issue. He will make PR today I think, after that you can pull changes and make your changes accordingly. Till then you can work oj homepage or other page's styling.
Thank you.

[2021-03-02 07:57] arbazalam01 commented on #31
Can i work on this issue

[2021-03-02 07:58] arbazalam01 commented on #63
Can you please assign this to me

[2021-03-02 12:48] rockingrohit9639 commented on #31
@Amit366 bro, this is the last reminder for you. Please make your PR.

[2021-03-02 12:49] rockingrohit9639 commented on #52
Ok @Akash20x bro.

[2021-03-02 12:50] rockingrohit9639 commented on #63
Yes @arbazalam01 bro. You can work on it. I am assigning you this issue.

### You are given 6 days to complete it.

[2021-03-02 13:14] Akash20x commented on #65
Please assign me this issue

[2021-03-02 13:18] #42 closed

[2021-03-02 13:23] Amit366 commented on #31
Sir I will make the PR today itself

[2021-03-02 14:01] #31 closed

[2021-03-02 14:27] Akash20x commented on #52
Please check my pull request

[2021-03-02 15:55] Akash20x commented on #52
Final pull request,Check it

[2021-03-03 04:10] #52 closed

[2021-03-03 04:34] rockingrohit9639 commented on #65
Ok @Akash20x bro, I am assigning you this task.

### You are given 7 days to complete it.

[2021-03-03 04:37] rockingrohit9639 opened #70 "Update screenshots"
## 💥 Proposal

Update screenshots in the README.md file with the latest website.

[2021-03-03 04:39] rockingrohit9639 opened #71 "Add a favicon"
## 💥 Proposal

Add a favicon to our website.
The favicon should be related to Text.

[2021-03-03 07:32] Blastoise commented on #66
@rockingrohit9639 I think you should add how to run the project because I am running your project in virtual env but getting errors while installing packages from requirements.txt
The error occurs while installing django_heroku which in turn installs psycopg2.

[2021-03-03 08:04] rockingrohit9639 commented on #66
@Blastoise bro, can you drop me a message on Discord?

[2021-03-04 05:05] kopinasaur commented on #58
Good day!

I think we should limit user to only one selection per operation here, otherwise some update is required to show results for all the selections. See screenshots below:

1) Four operations selected
![A](https://user-images.githubusercontent.com/79819309/109913826-a016b900-7ce9-11eb-8cee-846fe87e3226.JPG)

Turns out, only the first operation is executed:

2) Only "generate password" // "f

[2021-03-04 05:36] pranabprohit commented on #71
Hii @rockingrohit9639, I would like to work on this issue.

[2021-03-04 07:37] pri1311 commented on #70
Please assign this issue to me

[2021-03-04 12:28] rockingrohit9639 commented on #71
Yeah sure @pranabprohit bro, You can work on it.

I am assigning you this issue.

### You are given 2 days to complete it.

[2021-03-04 12:29] rockingrohit9639 commented on #70
@pri1311 , I have assigned you this issue.

### Make sure you complete it in 2 days.

[2021-03-04 14:34] pri1311 opened #74 "Add text-wrap"
## 💥 Proposal

In the result section, where the text is displayed, there needs to be text-wrap for the text as it goes out of bounds of normal view.

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

[2021-03-04 14:54] #70 closed

[2021-03-04 15:01] pri1311 commented on #74
Please assign this to me

[2021-03-04 15:05] rockingrohit9639 commented on #74
@pri1311 I have assigned you this issue.

### You are given 3 days to complete it.

[2021-03-04 15:07] rockingrohit9639 commented on #58
Thank you for this good suggestion. You can make an issue regarding it or I can create it.

[2021-03-04 15:13] #74 closed

[2021-03-04 20:03] Akash20x commented on #54
Please assign me this issue as a part of crosswoc

[2021-03-04 20:42] pranabprohit commented on #61
Hii @rockingrohit9639, I would like to work on this issue.

[2021-03-04 20:47] Akash20x commented on #54
Please assign me this issue as a part of CrossWoc

[2021-03-05 02:59] #71 closed

[2021-03-05 03:10] rockingrohit9639 commented on #61
Yeah @pranabprohit bro, I am assigning you this issue.
Try to get a loader something related to the project, like- a searching, book, text etc.
### Make sure you complete it in 5 days.

[2021-03-05 03:16] #65 closed

[2021-03-05 03:19] rockingrohit9639 commented on #54
Ok @Akash20x bro, I am assigning you this issue.

### You are given 4 days to complete it.

[2021-03-05 07:07] pri1311 opened #78 "Gallery page showing errors"
**Describe the bug**
----
- When clicked on Results following error displayed on gallery route.

Request Method: | GET
-- | --
https://textanalyzerapp.herokuapp.com/gallery/
3.1.7
NameError
name 'val' is not defined
/app/mysite/views.py, line 51, in gallery
/app/.heroku/python/bin/python
3.9.2
['/app/.heroku/python/bin',  '/app',  '/app/.heroku/python/lib/python39.zip',  '/app/.heroku/python/lib/p

[2021-03-05 07:10] pri1311 commented on #78
I am sorry If I forgot to mention, this happens for a particular search, thus we need to provide error handling and no search results found page or enhance search results as this error arrived on simple search result like 'book'.

[2021-03-05 07:13] pri1311 opened #79 "Simple spelling and grammatical errors in the website"
## 💥 Proposal

You choosed -> You chose
Adddresses -> Addresses
Minor grammatical changes on About us Page.

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

[2021-03-05 07:14] pri1311 commented on #79
Please assign this issue to me

[2021-03-05 07:29] rockingrohit9639 commented on #79
@pri1311 I have assigned you this issue. And yeah please also correct the mistakes in other pages if found.

[2021-03-05 07:32] rockingrohit9639 commented on #78
Hi @pri1311
Thank you for your bug report.
Would you like to fix this bug?

[2021-03-05 07:36] rockingrohit9639 commented on #66
@Blastoise bro, REMAINDER !!!

[2021-03-05 07:39] pri1311 commented on #78
Hi. I am not very familiar with Django and would hence refrain from making any changes in code file. But I think the solution would be to use some other API like https://serpapi.com/images-results or some other API other than unsplash which would possibly give results for almost all search queries or as I mentioned of no data recieved/images found redirect to a 'no search results found' page.

[2021-03-05 07:41] rockingrohit9639 commented on #78
Thank you for this @pri1311
Well, I know what the problem is and what could be the solution for it. If you want I can tell you or I will fix this.

[2021-03-05 07:43] Blastoise commented on #66
Sure it will be done by Today.

[2021-03-05 07:48] rockingrohit9639 commented on #66
Ok @Blastoise

[2021-03-05 11:52] #79 closed

[2021-03-06 05:17] kmryashasvi opened #82 "associate link to crosswoc website to its banner"
## 💥 Proposal

I will associate link to crosswoc website to its banner so that, when anyone clicks the crosswoc banner, it will direct them to the website of crosswoc

[2021-03-06 06:04] kmryashasvi opened #83 "I will add name and photo of maintainer in the end of readme file of your repo"
like the one mentioned below

![image](https://user-images.githubusercontent.com/66861659/110197192-e9911080-7e6f-11eb-9cd7-ea98f42f5687.png)

[2021-03-06 14:56] #66 closed

[2021-03-06 15:03] rockingrohit9639 commented on #82
Yeah sure @kmryashasvi bro, You can go ahead.

### You are given 3 days to complete it.

[2021-03-06 15:03] rockingrohit9639 commented on #83
Bro this is already done in our repo.

[2021-03-06 15:17] Blastoise opened #84 "Installation script for Linux users"
**Is your feature request related to a problem? Please describe.**
requirements.txt is not enough for working with this project locally, so to add a script so that at least Linux users can get started with the project faster.

**Describe the solution you'd like**
Adding a Bash Script that will run and install all the dependencies.

**Describe alternatives you've considered**
Also, we need to add t

[2021-03-06 15:34] #83 closed

[2021-03-06 15:40] kmryashasvi commented on #82
Its done

[2021-03-06 22:14] Akash20x commented on #78
I solved this issue in my update gallery styling issue pull request

If this bug still occuring, please check and tell

[2021-03-06 22:33] Akash20x opened #87 "Update link checkbox option"
## 💥 Proposal

Actually the problem is it only tells if input text is link or not and rending to error page on clicking the link.

Solution :
It would be great if it actually extract the piece of text which have link and open that link webpage.

Example :
Input :    texthttps://www.google.com/text
Output : https://www.google.com
Also on click this text open this webpage

Input:
https://github.com/

[2021-03-07 03:01] #82 closed

[2021-03-07 03:03] #78 closed

[2021-03-07 03:04] rockingrohit9639 commented on #84
You can work on it @Blastoise

### You are given 3 days to complete it.

[2021-03-07 03:12] rockingrohit9639 commented on #87
Bro, it is exactly like you said.

[2021-03-07 03:13] rockingrohit9639 commented on #63
@arbazalam01 REMAINDER !!

[2021-03-07 03:14] #54 closed

[2021-03-07 03:19] rockingrohit9639 opened #88 "Convert checkbox to radio-buttons"
## 💥 Proposal

Convert all the checkboxes to radio-buttons.
Make sure everything is working fine after changing.

[2021-03-07 04:39] Akash20x commented on #88
Please assign me this issue as a part of Cross Woc

[2021-03-07 04:40] Akash20x commented on #87
What you mean?

[2021-03-07 04:41] rockingrohit9639 commented on #88
Go ahead @Akash20x

### You are given 4 days to complete it.

[2021-03-07 04:46] #87 closed

[2021-03-07 04:46] Akash20x commented on #87
OK

[2021-03-08 04:32] #88 closed

[2021-03-08 04:43] rockingrohit9639 opened #90 "Suggest two or three synonyms or examples for the found text"
## 💥 Proposal

Suggest two or three words or examples for a word when the user finds a word in the text.
Examples or synonyms should be of a different colour than that of text and highlighted text.
Show the synonyms below the analyzed text on analyze.html file.

[2021-03-08 04:56] Akash20x commented on #90
Please assign me this issue as a part of Cross Woc

[2021-03-08 05:00] rockingrohit9639 commented on #90
Ok @Akash20x bro, You can work on it.

### You are given 5 days to complete it.

[2021-03-08 14:10] Akash20x commented on #90
In this issue, I have a doubt that first user find the particular word from the text and then give their synonyms or i have to give synonymous of every relevant word in text.

[2021-03-08 14:15] Akash20x commented on #90
Hey i have some doubt in this issue, can please write an clear example in comment to understand it better

[2021-03-08 14:58] rockingrohit9639 commented on #90
@Akash20x sorry, I could now answer your query at that time. Can you tell me now?

[2021-03-08 14:59] Akash20x commented on #90
Hey I already figured out that now.
So don't worry!!

[2021-03-08 15:00] rockingrohit9639 commented on #90
Ohh ok @Akash20x that's great.

[2021-03-09 15:04] #84 closed

[2021-03-09 21:03] Akash20x commented on #90
Please check my pull request

[2021-03-10 06:24] Akash20x commented on #64
I want to work on this issue as @Mansi3546 extended the deadline.

[2021-03-10 06:25] Akash20x commented on #63
Please assign me this issue as a part of Cross Woc

[2021-03-10 13:18] ayushrastogi689 commented on #64
Any update regarding this? If other contributor is not working on this issue I can work on it.

[2021-03-10 17:14] ayushrastogi689 commented on #61
Any update regarding this issue? If no one is working then you can assign it to me.

[2021-03-10 18:09] pranabprohit commented on #61
I am working on it.

[2021-03-11 03:15] rockingrohit9639 commented on #61
@pranabprohit bro, are you done with it. Because deadline is over.

[2021-03-11 03:27] rockingrohit9639 commented on #64
issue has been fixed

[2021-03-11 03:27] #64 closed

[2021-03-11 06:35] pranabprohit commented on #61
Was busy with the exams. I will make the PR today.

[2021-03-12 03:03] #61 closed

[2021-03-12 03:13] #90 closed

[2021-03-12 03:20] #38 closed

[2021-03-12 03:22] rockingrohit9639 commented on #63
@Akash20x bro, you can work on it now.

### Make sure you complete it in 6 days.

[2021-03-12 03:42] rockingrohit9639 opened #96 "Suggest books or articles"
## 💥 Proposal

Suggest some books or articles according to the genre provided by the user.
Give a short description of the book or article and links for those as well.
Keep it on generate page.

[2021-03-12 04:06] rockingrohit9639 opened #97 "Suggest YouTube channels"
## 💥 Proposal

Suggest YouTube channels according to the query provided by the user.
Provide the links for those channels with their logos.
Keep it on a separate page.

E.g. -
Query = Coding
Channels = Tech With Tim, Code With Harry etc.

[2021-03-12 07:33] rockingrohit9639 opened #98 "Improve AboutUs page"
## 💥 Proposal

Improve AboutUs page.
- Only change the styling.

[2021-03-12 07:34] rockingrohit9639 opened #99 "Make the website responsive"
## 💥 Proposal

Make the website completely responsive.

Make sure to make every page responsive.

[2021-03-12 07:35] rockingrohit9639 opened #100 "Update screenshots"
## 💥 Proposal

Update readme with the latest screenshots of the website.

[2021-03-13 08:30] rockingrohit9639 opened #101 "Add contact us below services."
## 💥 Proposal

Add the contact us section (form) below the services section.
The section should match the theme of our website i.e. black and white.

Form Fields
- Full Name
- Email Address
- Message

[2021-03-13 08:31] pranabprohit commented on #101
Hii @rockingrohit9639, I would like to work on this issue.

[2021-03-13 08:32] rockingrohit9639 commented on #101
Ok @pranabprohit bro, You can work on it.

### You are given 4 days to complete it.

[2021-03-13 08:56] rockingrohit9639 opened #102 "Add some animations on website."
## 💥 Proposal

Add some animations on the website.
Hints -
- You can add some shapes and animate them.
- You can animate TextAnalyzer text on the navigation bar.
- You can animate T. letter on the homepage by resizing it.

Use your imagination and do whatever you want.

[2021-03-13 13:34] Akash20x commented on #63
Please check my pull request

[2021-03-13 13:34] Akash20x commented on #97
Please assign me this issue as a part of Cross Woc

[2021-03-13 13:54] #63 closed

[2021-03-13 13:57] rockingrohit9639 commented on #97
Ok @Akash20x bro, You can work on it.

### You are given 6 days to complete it.

[2021-03-15 14:15] arbazalam01 commented on #99
Can i work on this issue

[2021-03-15 14:18] rockingrohit9639 commented on #99
Yes @arbazalam01 bro, You can work on it.

### You are given 7 days to complete it.

[2021-03-15 19:35] Akash20x commented on #97
Please check my pull request

[2021-03-15 19:37] Akash20x commented on #96
Please assign me this issue as a part of Cross Woc

[2021-03-16 03:26] #97 closed

[2021-03-16 03:56] rockingrohit9639 opened #105 "Add a back button on youtube.html"
## 💥 Proposal

Add a back button on the youtube.html file.
Make sure it navigates to generate page i.e. /index2

[2021-03-16 03:58] rockingrohit9639 commented on #96
Ok @Akash20x bro, You can work on it.

### You are given 6 days to complete it.

[2021-03-16 06:02] pri1311 commented on #105
please assign this to me under crooswoc.

[2021-03-16 06:03] pri1311 commented on #100
please assign this to me under croswoc

[2021-03-16 06:04] rockingrohit9639 commented on #105
Ok @pri1311, you can work on it.

### You are given 2 days to complete it.

[2021-03-16 06:04] rockingrohit9639 commented on #100
Ok @pri1311, Go ahead.

### You are given 3 days to complete it.

[2021-03-16 06:16] pri1311 commented on #102
Would like to work on this too.

[2021-03-16 14:32] rockingrohit9639 commented on #102
Ok @pri1311, I will assign you this one after completing others

[2021-03-16 19:07] pranabprohit commented on #98
@rockingrohit9639, I would like to work on this issue as a part of CWOC.

[2021-03-17 03:12] rockingrohit9639 commented on #105
@pri1311, can you send me a message on discord?

[2021-03-17 03:22] #101 closed

[2021-03-17 03:26] rockingrohit9639 commented on #98
You can work on it, @pranabprohit

### Make sure you complete it in 5 days.

[2021-03-17 03:28] rockingrohit9639 opened #108 "Connect ContactUs form with backend."
## 💥 Proposal

Connect ContactUs form with the backend i.e. store the data entered in form in the database.
Database should be SQLite(already existing).

[2021-03-17 04:04] pri1311 commented on #105
Sure

[2021-03-17 04:05] pri1311 commented on #105
It shows invalid invite

[2021-03-17 04:28] rockingrohit9639 commented on #105
I have updated the link. Can you please try again?

[2021-03-17 07:21] pri1311 commented on #105
Still facing the same issue.

[2021-03-17 07:23] rockingrohit9639 commented on #105
Try joining using this link - https://discord.gg/pNcPUNC6

[2021-03-17 07:31] #100 closed

[2021-03-17 08:49] #105 closed

[2021-03-17 19:26] arbazalam01 commented on #108
can i work on this issue

[2021-03-18 03:16] rockingrohit9639 commented on #102
Hey @pri1311, you can work on this issue now.
I am assigning you this one.
### Make sure you complete it in 5days.

[2021-03-18 18:57] Akash20x commented on #96
Please check my pull request

[2021-03-19 13:18] #99 closed

[2021-03-19 13:22] rockingrohit9639 commented on #108
You can work on this issue @arbazalam01.

### You are given 6 days to complete it.

[2021-03-19 13:34] #96 closed

[2021-03-19 14:33] Akash20x opened #112 "Add default text"
## 💥 Proposal

The idea is to add a default text button in which when a user select a radio button then on pressing this button, it gives default text for that feature. Also a clear button to clear the text in text area. (Both for analysis and generate page)

Example :
User press the remove punctuation radio button

then default text button gives a random text to check this feature.
Like =text!!an

[2021-03-19 14:36] Akash20x commented on #112
I want to solve this issue when you accept this issue

[2021-03-19 14:38] rockingrohit9639 commented on #112
Ok @Akash20x. I got it. You can work on it.

### You are given 6 days to complete it.

[2021-03-19 14:39] Akash20x commented on #112
Please add necessary labels to this issue

[2021-03-19 14:40] rockingrohit9639 commented on #112
Will you add both clear and default text?

[2021-03-19 14:41] Akash20x commented on #112
Yes

[2021-03-19 14:41] rockingrohit9639 commented on #112
Ok.

[2021-03-20 15:30] Akash20x commented on #112
Please check my pull request

[2021-03-20 15:51] Akash20x opened #114 "Provide links for latest articles"
## 💥 Proposal

It will provide links for the medium articles which are published (today) according to genre

It will give article link, title, writer and publisher name.

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

[2021-03-20 15:55] Akash20x commented on #114
Please assign me this issue as a part of Cross Woc

[2021-03-21 16:09] #112 closed

[2021-03-21 16:15] rockingrohit9639 commented on #114
You can work on it @Akash20x

### You are given 6 days to complete it.

[2021-03-21 17:41] rockingrohit9639 commented on #102
@pri1311 are you working on it?

[2021-03-21 17:42] pri1311 commented on #102
Hey! Yes I am. Can I get a little more time though?

[2021-03-21 17:47] rockingrohit9639 commented on #102
Ok @pri1311, No problem. Are 3 days more enough?

[2021-03-21 17:48] pri1311 commented on #102
Yes. Thank you so much

[2021-03-21 17:49] rockingrohit9639 commented on #102
Ok, Your welcome.

[2021-03-22 08:19] #102 closed

[2021-03-22 19:33] Akash20x commented on #114
This issue will take too much time to solve and less days for crosswoc to end, so I withdraw from this issue.

So I will close this issue.

[2021-03-23 07:07] #108 closed

[2021-03-23 07:10] rockingrohit9639 commented on #98
@pranabprohit bro, will you do it?

[2021-03-23 07:11] rockingrohit9639 opened #117 "Add confirmation message"
## 💥 Proposal

Add a confirmation message when someone submits the contact us form.

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

[2021-03-23 07:26] Akash20x commented on #114
Please help me regarding this issue, Check my DM on discord

[2021-03-23 16:42] pranabprohit commented on #98
Yes I will

[2021-03-23 19:51] Akash20x commented on #114
Please check my pull request

[2021-03-23 21:03] pranabprohit commented on #117
Hii @rockingrohit9639, I would like to work on this issue. can you please assign me this issue.

[2021-03-24 02:48] rockingrohit9639 commented on #117
Yes @pranabprohit, You can work on it.

### Make sure you complete it in 4 days.

[2021-03-24 02:54] #98 closed

[2021-03-24 03:03] #114 closed

[2021-03-24 06:51] Akash20x opened #120 "Lemmatizer option in text analysis"
## 💥 Proposal

Add the feature to do lemmatization of the text.

First it search if there is need of lemmatization or not,if required, then it find all words in their lemmatization form and display it on analysis page.

Example 1:
Go to this link
Output : No need of lemmatization

Example 2:
Your text is ready to be analysed
Output :
(Original word) - > (Lemmatized word)
is - > be
analysed - >anal

[2021-03-24 06:51] Akash20x commented on #120
If consider this issue, please assign me this issue as a part of Cross

[2021-03-24 08:03] rockingrohit9639 commented on #120
Ok @Akash20x, You can start working on this.

### Make sure you complete it in 5 days.

[2021-03-24 11:32] pranabprohit opened #122 "Add alert pop-up for contact form fields."
If the person did not fill the form properly like any field is not filled or mail id provided is not proper a alert message will pop up with a message that this or that is not filled or not proper.

[2021-03-24 11:33] pranabprohit commented on #122
Hii @rockingrohit9639 , I would like to work on this issue as a part of CWOC. can you please assign me this issue.

[2021-03-24 13:08] rockingrohit9639 commented on #122
Ok @pranabprohit You can work on it.

### You are given 5 days to complete it.

[2021-03-24 14:15] #117 closed

[2021-03-24 14:55] Akash20x opened #123 "Generate pdf for textarea text"
## 💥 Proposal

Add an option Pdf Viewer that will create a pdf viewer html page for the text given by user in the textarea. User can also download this pdf.

This feature is useful when user analyse a long text and paste analysed text into textarea and now it will create its pdf.

For example :

We used a uppercase for our long text and now we have large text in uppercase, now it will create its p

[2021-03-24 15:11] rockingrohit9639 commented on #123
Ok @Akash20x, I will assign you this issue once you finishes the old one.

[2021-03-24 19:30] Akash20x commented on #120
Please check my pull request

[2021-03-25 02:05] #120 closed

[2021-03-25 02:07] Akash20x commented on #123
Please assign me this issue

[2021-03-25 02:16] rockingrohit9639 opened #125 "Extract text from pdf"
## 💥 Proposal

Add a feature to upload a pdf file only and then extract the text from it and show it on the result page.

### Have you read the *Contributing Guidelines on Pull Requests*?

Yes

[2021-03-25 10:41] arbazalam01 commented on #125
can i work on this issue

[2021-03-25 10:44] rockingrohit9639 commented on #125
@arbazalam01 You can work on it.

### Make sure you complete it in 6days.

[2021-03-26 15:00] pri1311 opened #126 "two spelling errors"
## 💥 Proposal

On the cards, spelling should be 'entering'

### Have you read the *Contributing Guidelines on Pull Requests* ?
yes

[2021-03-26 15:01] pri1311 opened #127 "Prevent empty text to be analyzed"
## 💥 Proposal

even if no text is entered, app goes to the result page, this should probably be avoided and user should be prompted to enter some text first

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

[2021-03-26 15:03] rockingrohit9639 commented on #126
ok @pri1311, you can fix this, and yeah please check if there are any other spelling errors. Thank you.

[2021-03-26 15:04] rockingrohit9639 commented on #127
Hmmm, Thank would be better. If you can do it then let me know I will assign you this issue.

[2021-03-26 15:33] Akash20x commented on #123
Please check my pull request

[2021-03-26 16:22] Akash20x opened #129 "Replace + Word cloud for text analysis"
## 💥 Proposal

I want to add 2 features :
1. Add a replace option to replace text in text area with a word and show it on analyse page.
2. Add a word cloud for the text given in text area and show it in generate page.

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

[2021-03-26 16:22] Akash20x commented on #129
Please assign me this issue as a part of Cross Woc

[2021-03-26 16:25] rockingrohit9639 commented on #129
@Akash20x, You can start working on it.

### You are given 5 days to complete it.

[2021-03-26 16:26] rockingrohit9639 commented on #123
Bro, I will review and merge your PR tomorrow.

[2021-03-26 16:26] Akash20x commented on #123
OK, no problem

[2021-03-27 08:39] #123 closed

[2021-03-27 13:45] #126 closed

[2021-03-27 13:51] rockingrohit9639 commented on #127
@pri1311 will you do it?

[2021-03-27 13:52] pri1311 commented on #127
As I mentioned not very acquainted with django, would need help if do it :(

[2021-03-27 13:54] rockingrohit9639 commented on #127
Ok I can help you if you want.

[2021-03-27 13:54] pri1311 commented on #127
okay will do it then, thank you

[2021-03-27 14:20] Akash20x commented on #129
Please check my pull request

[2021-03-27 14:50] #129 closed

[2021-03-27 15:40] Akash20x opened #132 "Date Extractor + Word Frequency Bar Graph"
## 💥 Proposal

Add an option to extract dates from text and shown it in analyse page. Also a option of word frequencies which display a bar graph of word frequencies of top ten words in text in analyze page.

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

[2021-03-27 15:41] Akash20x commented on #132
Please assign me this issue as a part of Cross Woc

[2021-03-27 15:42] rockingrohit9639 commented on #132
Ok @Akash20x  you can start working on it.

[2021-03-27 15:43] Akash20x commented on #132
OK

[2021-03-28 13:39] rockingrohit9639 commented on #125
@arbazalam01 bro, Today is the last day.

[2021-03-28 15:09] #122 closed

[2021-03-28 16:19] #58 closed

[2021-03-28 16:31] #132 closed

[2021-03-28 16:44] #127 closed

[2021-04-05 03:21] #125 closed